<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Module Reports</title>
</head>
<body>
    <h1>Module Reports</h1>
    <% Object.entries(moduleReports).forEach(([moduleName, moduleData]) => { %>
        <h2><%= moduleName %></h2>
        <ul>
            <% moduleData.forEach(({ message, count }) => { %>
                <li><%= message %> - working percentage : <%= count %> % </li>
            <% }); %>
        </ul>
    <% }); %>
</body>
</html>